@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>Templar</div>
    @Scripts.Render("~/js")
    @Scripts.Render("~/handlebars")
    @Scripts.Render("~/hogan")
    @Scripts.Render("~/underscore")
    @Scripts.Render("~/test")
</body>
</html>